<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Maintenance Page</title>
</head>
<body>
  <h1>We'll be Back Soon!</h1>
  <p>We are working at miproving the page. It will be back online in a few days.</p>

  {{> footer}}  <!-- Gets it from registerPartials() => the file is footer(.hbs) -->
</body>
</html>
